.favorite-block {
    display: flex;
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: rgb(107, 107, 107);
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  li a {
    font-weight: bolder;
    text-align: center;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  li p {
    text-align: center;
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: default;
  }
  
  li a.active {
    background-color: rgb(0, 160, 160);
    width: 80%;
    font-size: 1.5vw;
    margin-left: 5%;
    margin-top: 10px;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(0, 73, 73);
    width: 80%;
    font-size: 1.5vw;
    margin-left: 5%;
    margin-top: 10px;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.2);
    overflow: hidden;
  }

.list {
    width:20%;
    overflow: hidden;
}

.list h1 {
  display: block;
    background-color: rgb(34, 91, 109);
    font-size: 2vw;
    color: white;
    margin: 0;
    padding: 0;
    height: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: auto;
}

.image-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list-body {
  margin-top: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.edit {
  margin-top: 10px;
  width: 10%;
}

.image-tile {
    width:200px;
    height:200px;
    padding:10px;
}

input {
    width:75%;
    margin-top: 2%;
    margin-left: 10%;
    margin-left: 10%;
}

.create-list {
  width: 80%;
  font-size: 1.5vw;
  margin-left: 5%;
  margin-top: 10px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0 0 8px 8px rgba(0,0,0,0.2);
}

.grey-text {
  color: grey;
}