<div class="favorite-block">
    <div class="list">       
    <h1>Favorite Lists</h1>
    <ul>
        <li *ngFor="let list of listData" ><a (click)="selectActive($event.target)">{{list.listName}}</a></li>
        <li>
            <input type="text" placeholder="Enter List Name" #newListName>
            <a class="create-list" (click)="createList($event.target, newListName)">Create List</a>
        </li>
    </ul>
    </div>
    <div class="image-grid">
        <div class="image-tile" *ngFor="let image of imagesData">
            <app-imagetile [imageData]="image"></app-imagetile>
        </div>
    </div>
</div>