.search-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-area {
    margin-top: 1%;
    margin-bottom: 3%;
}
.image-grid {
    width: 100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-tile {
    width:300px;
    height:300px;
    padding:10px;
}

.loader {
    margin-top: 20%;
}